<div class="container" style="background-color: cadetblue;">
  <form #signupform="ngForm" (ngSubmit)="signupProcess(signupform)">
    <h1 style="text-align: center; color:white;
  background-image: url(../assets/images/surf.jpg);"> <br> Access Sign Up Form <br><br></h1>
    <br>
    <br>
    
    <h2>Basic Details...</h2>
    <br>
    <div ngModelGroup="basic">
    <div>
      <label for="firstName">First Name : </label> &nbsp;
      <input type="text" name="firstName" ngModel class="form-control">
    </div>
    <br>
    <div>
      <label for="lastName">Last Name :</label>
      <input type="text" name="lastName" ngModel class="form-control">
    </div>
    <br>
    <div>
      <label for="pwd">Password : </label>
      <input type="password" name="pwd" [(ngModel)]="pwd" class="form-control">
    </div>
    <br>
    <div>
      <label for="cpwd">Confirm Password : </label>
      <input type="password" name="cpwd" [(ngModel)]="cpwd" class="form-control">
    </div> <br>
    <div>
      <label for="gender">Gender</label><br>
      <div class="form-check">
        <input type="radio" name="gender" value="male" ngModel class="form-check-input">
        <label for="male" class="form-check-label">Male</label>
      </div>
      <div class="form-check">
        <input type="radio" name="gender" value="female" ngModel class="form-check-input">
        <label for="female" class="form-check-label">Female</label>
      </div>
      <br>
    </div>
    </div>
<br><br>

<h2>Contact Details.. </h2>

<br>
<div ngModelGroup="contact">
<div>
  <label for="email"> Email : </label>
  <input type="text" name="email" ngModel class="form-control">
</div>
<br>
<div>
  <label for="phno"> Phone : </label>
  <input type="text" name="phno" ngModel class="form-control">
</div>
<br>
<div>
  <label for="country">Country</label>
  <select name="country" ngModel class="form-control">
    <option selected value=""> Choose an option </option>
    <option  *ngFor="let con of countries" [ngValue]="con.id">{{con.name}}</option>
  </select>
</div>
</div>
<br><br>
<h2>Access Details.. </h2><br>
<div ngModelGroup="access">
      <div>
        <label for="access">Select the required Access : </label>
        <!-- <select name="dropdown" multiple class="form-control"> -->

        <select name="access" multiple ngModel class="form-control">
          <!-- <option selected value="">-- Please select --</option> -->
          <option *ngFor="let a of accessDetails" id="a.id" [ngValue]="a.id">{{a.name}}</option>
        </select> 
      </div>
      <br>
      <div>
        <label for="date">Enter access date:</label>
        <input class="ui-datepicker" type="date" name="date" ngModel class="form-control">
      </div>
      <br>
      <div>
        <label for="comments">Reason for Access: </label> &nbsp; &nbsp;
        <textarea name="comments" class="form-control">    </textarea>
      </div>
      <br>
      <div>
       <label for="upload">Upload approval from manager : &nbsp;</label>
        <input type="file" name="upload" ngModel class="form-control" accept="image" style="border:none">
      </div>
      <br><br>

      <div>
        <input type="checkbox" name="subscribe" [(ngModel)]="subscribe">
        <label for="subscribe"> &nbsp; Subscribe emails and newsletters from us?</label>
      </div>
      <div>

      </div>

    <!-- </div> -->






      <div *ngIf="subscribe">
        <div>
          <input type="checkbox" name="subscribe2" [(ngModel)]="subscribe2">
          <label for="subscribe2">Subscibe for messages?</label>
        </div>
      </div>
      <div *ngIf="subscribe2">
        We wont spam you, we will try to keep only the important updates informed !!!!
      </div>

      <br><br>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
  <br><br>
</div>
<br><br><br>